*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
nav{
 background-color: rgba(240, 255, 255, 0.359);
}
h1{
    font-size: 20px;
    color: rgb(7, 121, 152);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img-bg{
    
    background-image:url(img/fondo-dentista-min.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:70%;
}
.iconos{
    padding:10px 70px;
}
.icono{
    width: 100px;
    padding: 20px;
}

.main{
    display: flex;
    justify-content:center;
    overflow: hidden;
    
}

.main_dos{
    display: flex;
    justify-content:center;
    border-bottom: 1px solid gray;
    padding: 10px;
}


.footer{
    /* border-top: solid gray 1px ; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parrafo_footer{
    padding: 10px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.subtitulo{
    padding: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titulos{
    color: rgb(85, 208, 212);
}
.parrafos{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.container-fluid{
    overflow: hidden;
}
.titulo_fluid{
    color: rgb(7, 121, 152);
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
.parrafo_fluid{
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.icono_consulta{
    width: 100px;
    height: 100px;
    margin: 0 40%;
}